# Python stuff
.cache/
__pycache__/
*.pyc

# Evnironment and config
.venv/
.vscode/

# Data (heavy)
dataset/
embeddings/
tensors/
dinov2_embeddings/
dinov2_features/
locator_features/
checkpoints/
precomputed/

# Extra
Labs/
docs/
Midterm/
results/

# New Structure
old_src/

